body 
{
    background:url( '/images/cream_pixels.png');
    overflow:scroll;
}

.containerfluid
{
    width:60%;
    margin:5%;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
}

.mainContainer .shift .fieldshift
{
    float:right;
}

#footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ff8d29;
}
.leaverequest .requestLeave input[type=date],
.leaverequest .requestLeave input[type=text],
.leaverequest .requestLeave input[type=date]:focus
{
    outline:none;
    margin-bottom: 3%;
    border-radius:5px;
    border: #F93 3px solid;
    box-shadow: 5px 5px 0 rgba(0,0,0,.05);
	font-family: 'Lato-Bla';
	font-size: .9em;
	color:#F90;
	width:40%;
}

.ddl
{
    margin-bottom: 10px;
    margin-top:3%;
    border-radius:5px;
    padding:.6%;
    outline:none;
    border: #F93 3px solid;
    box-shadow: 5px 5px 0 rgba(0,0,0,.05);
	font-family: 'Lato-Bla';
	font-size: 1em;
	color:#F90;
}

.search
{
    color: #fff;
    background-color:rgba(219,87,5,1);
    padding:1% 2% 1% 2%;
    outline:none;
    border-radius:8px;
    font-family: 'Yanone Kaffeesatz';
    font-size: 100%;
}

.requests
{
    margin-top:3%;
    font-family:Calisto MT;
    font-variant:normal;
    font-size:100%;
    font-weight:700;
    margin-bottom:3%;
}

.btnLeave a {
  color: #fff;
  background-color:rgba(219,87,5,1);
  padding:1% 2% 1% 2%;
  margin-top:2%;
  border-radius:8px;
  font-family: 'Yanone Kaffeesatz';
  font-size: 100%;
  width:40%;
  margin-left:3%;
  
}

.btnLeave,
.btnLeave input[type=submit]:focus
{
    margin-left:10%;
    outline:none;
 
}

.container 
{
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px#888;
    box-shadow: 0 0 5px 5px #888;
    width:90%;
    margin:5%;
}

.mainContent .fullName
{
    margin-top:3%;
    margin-left:5%;
    font-family:Calisto MT;
    font-size:3em;
    font-variant:normal;
}

.mainContent .fullName .pos
{
    font-family:Calisto MT;
    font-size:.5em;
    font-variant:normal;
    font-variant:small-caps;
    font-style:oblique;
}

.mainContent .profile
{
    margin:3%;
    font-family:Calisto MT;
    font-variant:normal;
}

.mainContent .profile .infos p
{
    margin-bottom:1%;
    font-weight:700;
}

.mainContent .profile .infos p.generalinfo
{
   margin-left:10%;
}

.mainContent .profile .infos .company
{
    float:right;
    margin-bottom:3%;
    margin-top:-18%;
    margin-right:10%;
}


.mainContent .greetings
{
  margin-top:5%;
  font-family:Calisto MT;
   font-variant:normal;
}

.mainContent .transfer
{
    margin-top:5%;
    margin-bottom:3%;
    font-family:Calisto MT;
    font-variant:normal;
}

.mainContent .evaluate
{
    margin-top:5%;
    margin-bottom:3%;
    font-family:Calisto MT;
    font-variant:normal;
}

.mainContent .gridview
{
    margin-bottom:3%;
    font-family:Calisto MT;
    font-variant:normal;
}

.mainContent .buttons
{
    margin-top:3%;
    margin-bottom:3%;
    font-family:Calisto MT;
    font-variant:normal;
}


.mainContent .requestForm
{
    margin-bottom:3%;
    font-family:Calisto MT;
    font-variant:normal;
    float:right;
    margin-top:-13%;
    margin-right:3%;
 
}

.mainContent .requestForm .requestInfo input[type=date],
.mainContent .requestForm .requestInfo input[type=date]:focus
{
    outline:none;
    margin-bottom: 3%;
    border-radius:5px;
    border: #F93 3px solid;
    box-shadow: 5px 5px 0 rgba(0,0,0,.05);
	font-family: 'Lato-Bla';
	font-size: .9em;
	color:#F90;
	width:50%;
}

.mainContent .requestForm p
{
    margin-bottom:2%;
    position:inherit;
}

.sidemenu
{
    float:right;
    margin-right:10%;
}

.sidemenu .menulist .menu .sidebarmenu,
.sidemenu .menulist .menu .sidebarmenu:hover
{
    margin-bottom:3%;
    font-weight:700;
    cursor:pointer;
    letter-spacing:normal;
}

.sidemenu .menulist .menu .sidebar
{
    margin-bottom:3%;
    font-style:normal;
    font-variant:small-caps;
    font-weight:700;
    font-size:1.2em;
}

  
.addEvaluation .evalForm input[type=text],
.addEvaluation .evalForm input[type=text]:focus
{
    outline:none;
    margin-bottom: 3%;
    margin-top:3%;
    border-radius:5px;
    border: #F93 3px solid;
    box-shadow: 5px 5px 0 rgba(0,0,0,.05);
	font-family: 'Lato-Bla';
	font-size: .9em;
	color:#F90;
	width:40;
	padding:3px;
}


.editprofile .updateinfo input[type=text],
.editprofile .updateinfo input[type=text]:focus
{
    margin-bottom:3%;
    outline:none;
    border-radius:5px;
    border: #F93 3px solid;
    box-shadow: 5px 5px 0 rgba(0,0,0,.05);
	font-family: 'Lato-Bla';
	font-size: .9em;
	color:#F90;
	padding:3px;
}

.addBenefit .benefitinfo input[type=text],
.addBenefit .benefitinfo input[type=text]:focus
{
    margin-bottom:3%;
    outline:none;
    border-radius:5px;
    border: #F93 3px solid;
    box-shadow: 5px 5px 0 rgba(0,0,0,.05);
	font-family: 'Lato-Bla';
	font-size: .9em;
	color:#F90;
	padding:3px;
}

.update
{
    float:right;
    font-size:40%;
    margin-right:5%;
    margin-top:3%;
}

.addOffense .offenseInfo input[type=text],
.addOffense .offenseInfo input[type=text]:focus
{
    outline:none;
    margin-bottom: 3%;
    margin-top:3%;
    border-radius:5px;
    border: #F93 3px solid;
    box-shadow: 5px 5px 0 rgba(0,0,0,.05);
	font-family: 'Lato-Bla';
	font-size: .9em;
	color:#F90;
	width:40;
	padding:3px;
}

.mainContainer .viewbenefit
{
    margin:3%;
    font-family:Calisto MT;
    font-variant:normal;
}

.mainContainer .viewbenefit .gridview h2
{
    margin-top:3%;
    font-family:Calisto MT;
    font-variant:normal;
}

.mainContainer .viewbenefit .addempbenefit
{
    margin-top:3%;
    padding-left:50%;
    font-family:Calisto MT;
    font-variant:normal;
}
.changeshift .shiftfield input[type=date],
.changeshift .shiftfield input[type=date]:focus,
.changeshift .shiftfield input[type=time],
.changeshift .shiftfield input[type=time]:focus
{
    outline:none;
    margin-bottom: 3%;
    margin-top:3%;
    border-radius:5px;
    border: #F93 3px solid;
    box-shadow: 5px 5px 0 rgba(0,0,0,.05);
	font-family: 'Lato-Bla';
	font-size: .9em;
	color:#F90;
	width:40;
	padding:3px;
}