body 
{
    background:url('/images/cream_pixels.png');
}

.dheltalogo
{
    margin:20px;
    margin-left:20%;
    margin-top:5%; 
    max-width:100%;
}

.mainContent
{
    max-width:330px;
    padding:15px;
    margin:0 auto;
    margin-top:-12%;
    margin-left:50%;
}

.mainContent input[type=text], .mainContent input[type=password],
.mainContent input[type=text]:focus, .mainContent input[type=password]:focus
{
    margin:10px;
    margin-left:10%;
    width:75%;
    padding:10px 40px;
    border: #F93 3px solid;
    box-shadow: 5px 5px 0 rgba(0,0,0,.05);
    border-radius:5px;
	font-family: 'Lato-Bla';
	font-size: .9em;
	color:#F90;
	outline:none;
}

.mainContent .btnSignin
{
    margin:10px;
    margin-left:10%;
}

.mainContent .btnSignin .btnlogin,
.mainContent .btnSignin .btnlogin:focus
{
    color: #fff;
    background-color:rgba(219,87,5,1);
    border:rgba(219,87,5,1);
    box-shadow: 5px 5px 0 rgba(0,0,0,.05);
    font-family: 'Lato-Bla';
    width:88%;
    padding:3%;
    border-radius:5px;
    outline:none;
}

.mainContent .btnlogin:hover
{
   background-color:Orange;
}